@charset "utf-8";
@import url('https: //fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https: //fonts.googleapis.com/css?family=Nunito+Sans&display=swap');


/* 전체 공용 css 초기화*/

html, body, div, span, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, form, fieldset, legend, input, select, textarea, table, col, colgroup, thead, tfoot, tbody, th, td {
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
    line-height: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
fieldset, img, abbr, acronym {
    border: 0 none;
}
ol, ul, li {
    list-style : none;
    padding:  0;
    margin:  0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0 none;
}
th {
    text-align: center;
    font-weight: bold;
}
td {
    text-align: left;
    font-weight: normal;
}

address, em {
    font-weight: normal;
    font-style: normal;
}
address {display:  inline;}
hr {
    display: none;
}
dl, dt, dd {
    margin:  0; padding:  0;
}
html, body {
    height:  100%;
}
html, body, table {
    font-size: 14px;
    color:  #bbb;
    font-family: Noto Sans KR,sans-serif,Dotum,Helvetica,AppleSDGothicNeo;
}

a, button, small, label, span, input {

}

a {color:  black;}
a,
a:link,
a:visited,
a:hover,
a:focus {
    text-decoration: none;
    color: #000;
    outline:none;
}
a:active {

}
input[type=text],
input[type=number],
input[type=email],
input[type=password] { width: 100%; letter-spacing: 1px}

input[type=checkbox],
input[type=radio] { vertical-align: text-bottom }
input:focus,
textarea:focus,
button:focus { outline: none !important;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

img { vertical-align: middle }
a img {border-width: 0; display: inline;}
a:hover {border: 0;}
a:hover img {display: none;}
a:hover img {display: inline;}

select {border:  1px solid #ddd; padding:  1px; vertical-align:  middle; color: #bbb}

button {border:  none; margin:  0; padding:  0; cursor:  pointer;}

label {cursor:  pointer; }

textarea {
    width: 100%;
    padding:  10px; margin:  5px 0;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 2px gray inset;
    letter-spacing: 1px;
    color: #bbb;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    padding: 10px 0;
    font-weight:  600;
}

h1 {font-size:  36px;}
h2 {font-size:  32px;}
h3 {font-size:  28px;}
h4 {font-size:  24px;}
h5 {font-size:  20px;}
h6 {font-size:  16px;}


fieldset { color: initial !important;}