@charset "utf-8";
.dream input {
  /* -webkit-appearance: none; */
  -webkit-border-radius: 0;
}
input::-ms-input-placeholder {
  color: #bebebe;
}
input::-webkit-input-placeholder {
  color: #bebebe;
}
input::-moz-placeholder {
  color: #bebebe;
}
.dream .hidden {
  position: fixed;
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
  text-indent: -9999px;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
}
.dream .wrap,
.dream .container {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.dream .container {
  background-color: #f3f3f3;
}
.dream .wrap.main .ltflex .list {
  position: relative;
  z-index: 11;
  padding: 0 15px 60px 15px;
  width: auto;
  border-radius: 6px;
}
.dream .wrap.settlement .ltflex .list {
  padding: 10px 15px 30px 15px;
}
.dream .wrap.settlement .ltflex .list {
  margin: 0;
  border-radius: 0;
}
.dream .wrap.white .container {
  background-color: #fff;
}
.dream .wrap.main .ltflex .list > div > div {
  position: relative;
  margin-bottom: 6px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);
}
.dream .wrap.main .ltflex .list > div h3 {
  position: relative;
  display: block;
  padding: 20px 20px 10px 16px;
  height: auto;
  font-size: 17px;
  font-weight: 400;
}
.dream .wrap.main .ltflex .list > div h3 span {
  position: absolute;
  bottom: 12px;
  right: 20px;
  font-size: 14px;
  color: #000;
  letter-spacing: 1px;
}
.dream .wrap.main .ltflex .list > div h3 strong {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}
.dream .wrap.main .ltflex .list > div > div.total {
  position: relative;
  border: 1px solid #6185fe;
  background-color: #f9fcff;
  border-radius: 6px;
  padding: 10px;
}
.dream .wrap.main .ltflex .list > div > div.total h3 {
  position: absolute;
  top: 17px;
  padding: 0;
  font-size: 15px;
}
.dream .wrap.main .ltflex .list > div > div.total div {
  text-align: right;
}
.dream .wrap.main .ltflex .list > div > div.total h3 img {
  vertical-align: top;
  margin: 3px 0 0 6px;
  width: 46px;
}
.dream .wrap.main .ltflex .list > div > div a i {
  vertical-align: top;
  font-size: 18px;
  line-height: 25px;
}
.dream .wrap.main .ltflex h4 {
  font-size: 15px;
  font-weight: 400;
}
.dream .give > div,
.dream .receive > div {
  text-align: right;
}
.dream .total > a,
.dream .give > a,
.dream .receive > a {
}
.dream .receive * {
  color: #fff;
}
.dream .wrap.main .ltflex .list > div > div.receive {
  border: 0 none;
}
.dream .wrap.main .ltflex .total span,
.dream .wrap.main .ltflex .give span,
.dream .wrap.main .ltflex .receive span {
  display: inline-block;
  font-size: 22px;
}
.dream .wrap.main .ltflex .total span {
  height: auto;
}
.dream .wrap.main .ltflex span {
  font-weight: 400;
  letter-spacing: -0.05em;
}
.dream .wrap.main .ltflex .list > div > div:last-child {
  margin-bottom: 0;
}
form {
  width: 100%;
  height: 100%;
}
.dream .hidden {
  overflow: hidden;
  display: none;
  width: 0;
  height: 0;
  visibility: hidden;
  text-indent: -9999px;
}
.dream .green {
  color: #3bc1a4 !important;
}
.dream .orange {
  color: #e98f37 !important;
}
.dream .blue {
  color: #508efc !important;
}
.dream .red {
  color: #ff443b !important;
}
.dream .black {
  color: #000 !important;
}
.dream .gray {
  color: #999 !important;
}
.dream .bgblue {
  background-color: #009bfa !important;
}
.dream .bggray {
  background-color: #7c8298 !important;
}
.dream .bgdarkblue {
  background-color: #1d94dc !important;
}
.dream .bgorange {
  background-color: #24a6f8 !important;
}
.dream .bggreen {
  background-color: #4b9fff !important;
}
.dream .bgwhite {
  background-color: #fff !important;
}
.dream .fstmp {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.dream .txtl {
  text-align: left !important;
}
.dream .txtr {
  text-align: right !important;
}
.dream .btline {
  border-top: 1px solid #eee;
}
.dream .autoline {
  position: relative;
}
.dream .autoline label {
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(221, 221, 221, 1);
  text-align: left;
  pointer-events: none;
}
.dream .autoline label:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 100%;
  border-bottom: 1px solid #009bfa;
  transition: all 0.3s ease;
}
.dream .autoline label span {
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: all 0.3s ease;
}
.dream .autoline input {
  background-color: #fff;
}
.dream .autoline input:focus + label span,
.dream .autoline input:valid + label span {
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}
.dream .autoline input:focus + label::after,
.dream .autoline input:valid + label::after {
  width: 100%;
  transform: translateX(0);
}
.dream .autoline input:focus,
.dream .autoline input:valid {
  opacity: 1;
}
.dream .autoline.red label:after {
  border-bottom: 1px solid #ff0000;
}
.dream .checkinput input {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 30px;
  opacity: 0;
}
.dream .checkinput label {
  background-repeat: no-repeat;
  background-position: 0 4px;
  background-size: auto 100%;
  color: #656565;
  letter-spacing: -0.05em;
}
.dream .checkinput input[type="radio"]:not(old):checked + label,
.dream .checkinput input[type="checkbox"]:checked + label {
  background-image: url(../../images/dream/icon_check_on.png);
}
.dream .checkinput label {
  display: inline-block;
  padding-left: 24px;
  background-image: url(../../images/dream/icon_check_off.png);
  background-size: 22px auto;
  color: #000000;
  vertical-align: top;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}
.dream .systxt {
  padding-left: 16px;
  background: url(../../images/dream/icon_warning.png) no-repeat 0 2px;
  background-size: 13px auto;
  line-height: 15px;
}
.dream .collapsible-body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 10px;
  background-color: #f1f1f1;
  line-height: 180%;
}
.dream .chargebtn {
  position: fixed;
  bottom: 86px;
  right: 20px;
  z-index: 11;
  display: block;
  width: 62px;
  height: 62px;
  border-radius: 62px;
  background: #009bfa url(../../images/dream/icon_charge.png) no-repeat center
    center;
  background-size: 36px auto;
}
.dream .chargebtn.close {
  background-image: url(../../images/dream/icon_close_popoup.png);
  background-size: 22px auto;
  transition: all 1s;
}
input[type="button"],
.dream .sysbtn a {
  background: #f1f1f1;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.6s ease;
}
.dream input[type="button"]:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform-style: flat;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  transition: width 0.1s ease, height 0.3s ease;
}
.draem button:active:after,
.dream input[type="button"]:active:after {
  width: 100%;
  height: 100%;
}
.dream .page .hfxd,
.dream .hfxd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  transition: top 0.25s ease-in-out;
}
.dream .hfxd.up {
  position: fixed;
  top: -10px;
  transition: top 1s ease-in-out;
  box-shadow: 0 0 3px rgb(0 0 0 / 40%);
  border-bottom: 0 none;
}
.dream .container .title {
  width: 100%;
  padding: 0;
  height: 100px;
  z-index: 10;
  background-color: #f5f5f5;
  box-shadow: none;
}
.dream .container .title.bt {
  position: fixed;
  padding: 10px 0 0 0;
  height: 160px;
  box-sizing: border-box;
  background: #23a7f8;
  background: -moz-linear-gradient(left, #23a7f8 0%, #6f7dff 100%);
  background: -webkit-linear-gradient(left, #23a7f8 0%, #6f7dff 100%);
  background: linear-gradient(to right, #23a7f8 0%, #6f7dff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23a7f8',endColorstr='#6f7dff',GradientType=1 );
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.dream .saletrend .container .title.bt {
  padding-top: 10px;
  height: auto;
}
.dream .container .title.bt:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 166px;
  background-color: #009bfa;
}
.dream .main .container .title.bt:before {
  display: none;
}
.dream .setting .container .title.bt {
  padding-left: 0;
  height: 90px;
  background-color: #fff;
}
.dream .setting .container .title.bt h3 {
  height: auto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.dream .setting .container .title.bt:before {
  display: none;
}
.dream .title.bt h4,
.dream .title.bt p {
  position: relative;
  z-index: 1;
  padding: 0 24px;
  margin: 0;
  color: #fff;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.dream .title.bt h4 i {
  margin: 2px 4px 0 -3px;
  vertical-align: top;
  font-size: 21px;
}
.dream .title.bt p {
  padding-top: 8px;
  font-size: 16px;
}

.dream .title.bt span {
  display: inline-block;
  margin-right: 4px;
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.dream h3 {
}
.dream h3 a {
  display: inline-block;
  /* padding: 34px 0 0 50px; */
  padding: 0px 0 0 50px;
  width: 100px;
  height: 56px;
  /* background: url(../../images/dream/icon_arrowl.png) no-repeat 20px 51px; */
  background: url(../../images/dream/icon_arrowl.png) no-repeat 20px 18px;
  background-size: 20px auto;
  line-height: 56px;
  font-size: 17px;
  font-weight: 500;
}
.dream h3 a span {
  font-size: 17px;
}
.dream .green h3 a {
  background-image: url(../../images/dream/icon_arrowl_w.png);
}
.dream .green h3 a {
  color: #fff;
}
h4 {
  font-size: 14px;
  font-weight: 400;
}
.dream .container .sub {
  width: 100%;
  box-shadow: none;
  box-sizing: border-box;
  background-color: transparent;
}
.dream .guide .container .sub {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 90px;
  background-color: #fff;
}
.dream .guide .container .sub h5 {
  display: flex;
  align-items: center;
  padding: 25px;
  font-size: 13px;
  text-align: left;
  font-weight: 300;
  letter-spacing: -0.05em;
  border-bottom: 1px solid #e6e6e6;
  word-break: keep-all;
  height: 60px;
}
.dream .guide .container .sub h5 i {
  margin: 0px 15px 0 0;
  float: left;
  vertical-align: top;
  font-size: 50px;
}
.dream .settlement .container .sub {
  padding-right: 0;
  padding-left: 0;
}
.dream .settlement.white .container .sub {
  padding-bottom: 0;
}
.dream .settlement h5 {
  padding: 0 0 0 10px;
  font-size: 22px;
  font-weight: 400;
}
.dream .alert {
  height: 30px;
  text-align: right;
  vertical-align: bottom;
}
.dream .alert span {
  display: inline-block;
  padding-top: 6px;
  color: #ff5a5a;
  font-size: 12px;
}
.dream .infotxt {
  padding: 6px 0 0 0;
  text-align: right;
  color: #7c8298;
  font-size: 12px;
}
.dream .itembox {
  padding: 17px 17px 21px 17px;
  background-color: #fff;
  border-radius: 4px;
}
.dream .itembox > div:first-child {
  padding-top: 0;
}
.dream .itembox > div {
  padding-top: 10px;
}
.dream .itembox h4 {
  padding: 10px 0;
}
.dream .itembox input[type="text"] {
  padding: 0 4px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}
.dream .itembox input[type="text"]:active,
.dream .itembox input[type="text"]:hover,
.dream .itembox input[type="text"]:focus {
  border-bottom: 1px solid #009bfa;
}
.dream .btn a {
  display: block;
  height: 50px;
  background-color: #009bfa;
  color: #fff;
  border-radius: 4px;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  line-height: 50px;
}
.dream .sysbtn {
  display: table;
  width: 100%;
}
.dream .sysbtn li {
  display: table-cell;
  width: 50%;
  text-align: center;
  height: 44px;
  box-sizing: border-box;
}
.dream .sysbtn li:first-child {
  padding-right: 4px;
}
.dream .sysbtn li:last-child {
  padding-left: 4px;
}
.dream .sysbtn li > * {
  display: block;
  height: 44px;
  border-radius: 4px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  box-shadow: 0 0 3px rgb(0 0 0 / 4%);
  line-height: 44px;
}
.dream .cardadd {
  position: absolute;
  top: 17px;
  right: 15px;
}
.dream .bluebtn {
  display: inline-block;
  height: 36px;
  padding: 0 20px;
  background-color: #009bfa;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  border-radius: 6px;
  line-height: 36px;
}
.dream .btn-onoff {
  position: absolute;
  top: 7px;
  right: 0px;
  display: inline-block;
  vertical-align: middle;
}
.dream .btn-onoff input {
  display: block;
  position: absolute;
  opacity: 0;
}
.dream .btn-onoff span {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  border-radius: 40px;
  background: #ccc;
  border: 1px solid #ccc;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  transition: 400ms;
}
.dream .btn-onoff input ~ span:before {
  content: "";
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
  right: 0px;
  font-size: 14px;
  font-family: "Arial";
  font-weight: bold;
  line-height: 34px;
  color: #aaa;
  padding: 0px 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  transition: 500ms;
}
.dream .btn-onoff input ~ span:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2px;
  left: 2px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  transition: 400ms;
}
.dream .servicecheck span {
  position: relative;
  padding: 5px 0;
  display: block;
  width: 100%;
  margin-right: 10px;
}
.dream .servicecheck input {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 24px;
  opacity: 0;
}
.dream .servicecheck input[type="radio"]:not(old):checked + label,
.dream .servicecheck input[type="checkbox"]:checked + label {
  background-position: 0 -37px;
}
.dream .servicecheck label {
  display: inline-block;
  width: 100%;
  padding-left: 26px;
  background: url(../../images/dream/icon_radio.png) no-repeat 0 1px;
  color: #575f69;
  box-sizing: border-box;
  font-size: 15px;
  vertical-align: top;
  font-weight: 400;
  line-height: 24px;
}
.dream .bt {
  background-color: #272c4d;
}
.dream .bt h1 {
  height: 100px;
  background-size: 91px auto;
  text-align: center;
}
.dream .bt h1 a {
  display: inline-block;
  margin-top: 40px;
  width: 200px;
  height: 60px;
}
.dream .bt > a {
  width: auto;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
  padding: 0 10px 0 6px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-weight: 200;
  font-size: 12px;
  line-height: 24px;
}
.dream .ltflex {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  height: 100%;
  padding-top: 186px;
  box-sizing: border-box;
}
.dream .saletrend .ltflex {
  padding-top: 104px;
}
.dream .setting .ltflex {
  padding-top: 90px;
}
.dream .setting .ltflex .list {
  padding: 15px;
}
.dream .setting .ltflex .list > div {
  position: relative;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
.dream .settlement .ltflex {
  padding-top: 0;
}
.dream .ltflex > div {
  width: 100%;
}
.dream .ltflex .datebox {
  position: relative;
  top: 0;
  height: 50px;
}
.dream .ltflex .list {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
}
.dream .ltflex .navigation {
  position: static;
  height: 70px;
  bottom: 0;
}
.dream .ltflex .tit strong {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #7c8298;
  font-weight: 500;
}
.dream .ltflex .nomal li > div {
  padding: 8px 0;
  width: 33.333333%;
  line-height: 18px;
}
.dream .wrap.settlement .ltflex .list:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 390px;
  background: #23a7f8;
  background: -moz-linear-gradient(left, #23a7f8 0%, #6f7dff 100%);
  background: -webkit-linear-gradient(left, #23a7f8 0%, #6f7dff 100%);
  background: linear-gradient(to right, #23a7f8 0%, #6f7dff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23a7f8',endColorstr='#6f7dff',GradientType=1 );
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #fff;
}
.dream .tbl * {
  font-size: 17px;
}
.dream .tbl li {
  display: table;
  width: 100%;
  margin-bottom: 6px;
}
.dream .tbl li > div {
  display: table-cell;
  padding: 0 2px;
}
.dream .tbl li > div:first-child {
  padding-left: 0;
}
.dream .tbl li > div:last-child {
  padding-right: 0;
}
.dream .tbl .one > div {
  width: 100%;
}
.dream .tbl .two > div {
  width: 50%;
}
.dream .tbl .three > div {
  width: 33.33333%;
}
.dream .tbl .four > div {
  width: 25%;
}
.dream .tbl select {
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  height: 40px;
  font-weight: 400;
}
.dream .tbl input {
  width: 100%;
  text-align: center;
}
.dream .tbl strong {
  display: block;
  height: 40px;
  border: 1px solid #e0e0e0;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #575757;
  text-align: center;
  line-height: 40px;
}
.dream .cdadd {
  position: absolute;
  top: 60px;
  right: 25px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}
.dream .datebox {
  position: relative;
  background-color: #f3f3f3;
}
.dream .datebox button,
.dream .datebox div {
  font-size: 14px;
  color: #575757;
  font-weight: 500;
}
.dream .datebox button {
  border: 0 none;
  padding: 0 10px;
  height: 43px;
  background-color: transparent;
  outline: none;
}
.dream .datebox button:active {
  background-color: #cacaca;
}
.dream .datebox div {
  position: absolute;
  top: 9px;
  right: 15px;
}

.dream .navigation {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0 0;
  justify-content: space-around;
  border-top: 1px solid #eee;
}
.dream .navigation div {
  height: 70px;
  flex: 1 1;
  text-align: center;
  display: flex;
}
.dream .navigation a {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 8;
}
.dream .navigation .on a:before {
  content: "";
  transform: translate(10%, 0);
  height: 4px;
  width: 4px;
  background-color: #4594fb;
  text-align: center;
  margin-bottom: auto;
}
.dream .navigation .on a {
  color: #4594fb;
  font-weight: 500;
}
.dream .navigation .dream-menua {
  background: url(../../images/dream/menua.png) no-repeat center 30%;
}
.dream .navigation .dream-menua.on {
  background: url(../../images/dream/menua_on.png) no-repeat center 30%;
}
.dream .navigation .dream-menub {
  background: url(../../images/dream/menub.png) no-repeat center 30%;
}
.dream .navigation .dream-menub.on {
  background: url(../../images/dream/menub_on.png) no-repeat center 30%;
}
.dream .navigation .dream-menuc {
  background: url(../../images/dream/menuc.png) no-repeat center 30%;
}
.dream .navigation .dream-menuc.on {
  background: url(../../images/dream/menuc_on.png) no-repeat center 30%;
}
.dream .navigation .dream-menud {
  background: url(../../images/dream/menud.png) no-repeat center 30%;
}
.dream .navigation .dream-menud.on {
  background: url(../../images/dream/menud_on.png) no-repeat center 30%;
}
.dream .navigation .dream-menue {
  background: url(../../images/dream/menue.png) no-repeat center 30%;
}
.dream .navigation .dream-menue.on {
  background: url(../../images/dream/menue_on.png) no-repeat center 30%;
}

.dream .listtd li {
  display: table;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #ececec;
  line-height: 22px;
}
.dream .listtd li > div:first-child {
  width: 120px;
  font-size: 13px;
  font-weight: 700;
  box-sizing: border-box;
}
.dream .listtd li > div {
  display: table-cell;
  height: 40px;
  vertical-align: middle;
  font-size: 14px;
}
.dream .listtd h4 {
  height: 40px;
  margin-top: 30px;
  color: #464646;
  font-size: 15px;
  font-weight: 600;
  line-height: 40px;
}
.dream .listtd h4:first-child {
  margin-top: 0;
}
.dream .listtd .total {
  background-color: #f3f3f3;
}
.dream .listtd .total > div:first-child {
  padding-left: 10px;
}
.dream .listtd .total > div:last-child {
  font-size: 17px;
  font-weight: 500;
}
.dream .boxlst {
  position: relative;
  z-index: 1;
  margin-top: 0px;
}
.dream .sttmtb {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.dream .card .sttmtb {
  border-bottom: 1px solid #eee;
}
.dream .sttmtb.aa {
  padding-bottom: 0;
}
.dream .sttmtb.aa ul:first-child {
  background-color: #efefef;
}
.dream .sttmtb.aa li {
  font-size: 13px;
}
.dream .sttmtb.aa ul:first-child * {
  font-size: 15px;
}
.dream .sttmtb.aa ul:last-child {
  border-top: 1px solid #e4e4e4;
}
.dream .sttmtb.aa ul:last-child li {
  font-weight: 400;
}
.dream .sttmtb:last-child {
  margin-bottom: 30px;
  padding-bottom: 0;
  border: 0 none;
}
.dream .settlement .alldata {
  margin-bottom: 20px;
  padding: 6px 20px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #4f8cff;
  color: #444444;
  font-size: 17px;
  text-align: center;
  font-weight: 300;
}
.dream .settlement .alldata span {
  color: #4585fc;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: -0.025em;
}
.dream .settlement.etc .alldata {
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 22px;
  letter-spacing: -0.025em;
  font-weight: 300;
}
.dream .settlement.etc .alldata span {
  font-size: 22px;
  letter-spacing: -0.025em;
}
.dream .last .sttmtb {
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;
}
.dream .sttmtb h5 {
  padding: 11px;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}
.dream .sttmtb > div,
.dream .sttmtb ul {
  display: table;
  width: 100%;
}
.dream .sttmtb > div > div,
.dream .sttmtb li {
  display: table-cell;
  font-size: 14px;
  box-sizing: border-box;
}
.dream .sttmtb > div > div {
  width: 50%;
}
.dream .sttmtb li {
  position: relative;
  padding: 5px 0;
  letter-spacing: -0.025em;
  line-height: 18px;
}
.dream .sttmtb li:first-child {
  word-break: break-all;
  width: 80px;
  text-align: left;
  color: #000000;
}
.dream .sttmtb li:last-child {
  word-break: break-all;
  text-align: right;
}
.dream .settlement .last {
  padding: 0;
  background-color: #ffffff;
  border-radius: 0;
}
.dream .sttmtb li {
  padding: 10px 0;
  font-size: 15px;
  font-weight: 300;
}
.dream .sttmtb ul:last-child {
  border-bottom: 0 none;
}
.dream .sttmtb > div > div:first-child li:last-child {
  padding-right: 10px;
}
.dream .sttmtb > div > div:last-child li:first-child {
  padding-left: 10px;
}
.dream .sttmtb li,
.dream .sttmtb li span {
  font-size: 13px;
  letter-spacing: -0.025em;
}
.dream .sttmtb li:first-child {
  width: 50%;
}
.dream .last h4,
.dream .last .sttmtb {
}
.dream .last div .sttmtb {
  padding-bottom: 0;
}
.dream .last div .sttmtb ul:last-child {
  border-bottom: 0 none;
}
.dream .last .sttmtb {
  padding-bottom: 30px;
}
.dream .last div .sttmt ul {
  border-bottom: 1px solid #eee;
}
.dream .last h4,
.dream .saletrend h4 {
  margin: 30px 20px 15px 10px;
  font-size: 17px;
  font-weight: 500;
}
.dream .saletrend h4 {
  padding-left: 0;
}
.dream .last h4:before,
.dream .saletrend h4:before {
  content: "";
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 28px;
}
.dream .wrap.main .ltflex h4.titgrapha,
.dream .wrap.main .ltflex h4.titgraphb {
  font-size: 18px;
}
h4.titcard:before {
  background-image: url(../../images/dream/icon_card.png);
}
h4.titboard:before {
  background-image: url(../../images/dream/icon_board.png);
}
h4.titgrapha:before {
  background-image: url(../../images/dream/icon_graph.png);
}
h4.titgraphb:before {
  background-image: url(../../images/dream/icon_graphb.png);
}
.dream .sttmtb.btline {
  padding-top: 20px;
}
.dream .tblstp {
  margin-top: 30px;
}
.dream .tblstp > li {
  display: table;
  width: 100%;
}
.dream .tblstp > li > div {
  display: table-cell;
  padding: 10px 0;
  vertical-align: middle;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}
.dream .tblstp > li > div:first-child {
  width: 50px;
  font-size: 12px;
}
.dream .tblstp > li > div:last-child {
  width: 120px;
  text-align: right;
  font-weight: 500;
}
.dream .setting h4,
.dream .setting .qna a {
  font-size: 16px;
  font-weight: 400;
}
.dream .setting .radio h4 {
  padding-bottom: 20px;
}
.dream .setting .link ul {
  position: absolute;
  top: 16px;
  right: 21px;
  overflow: hidden;
}
.dream .setting .link li {
  float: left;
  margin-left: 8px;
  vertical-align: top;
}
.dream .setting .link a {
  display: block;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000000;
  font-weight: 300;
  font-size: 13px;
}
.dream .setting .link a:active {
  border-color: #000;
  color: #000;
}
.dream .setting .link div {
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
}
.dream .setting .link div span {
  font-size: 16px !important;
  text-align: right;
}
.dream .setting .ltflex .list .qna {
  padding: 0;
}
.dream .setting .qna a {
  padding: 20px;
  display: block;
  width: calc(100% - 10px);
  background: url(../../images/dream/icon_arrowgr.png) no-repeat right center;
  background-size: 30px auto;
}
.dream .setting .radio li {
  position: relative;
  border-bottom: 1px solid #eee;
  height: 50px;
  line-height: 50px;
}
.dream .setting .radio li:last-child {
  padding-bottom: 0;
  border-bottom: 0 none;
}
.dream .setting .radio span {
  font-size: 14px;
  font-weight: 300;
}
.dream .tabs {
  position: relative;
  display: table;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: #fff;
  white-space: nowrap;
  margin: 0 auto;
}
.dream .tabs.title {
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.dream .tabs.title.up {
  top: 40px;
  transition: top 0.5s;
}
.dream .tabs.title.down {
  transition: top 0.2s;
}
.dream .tabs.tabs-transparent .tab a,
.dream .tabs.tabs-transparent .tab.disabled a,
.dream .tabs.tabs-transparent .tab.disabled a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.dream .tabs .tab {
  display: table-cell;
  width: 50%;
  text-align: center;
  line-height: 48px;
  height: 48px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.dream .etc .tabs .tab {
  width: 100%;
}
.dream .tabs.three .tab {
  width: 33.4%;
}
.dream .tabs.bm .tab {
  width: 33.4%;
}
.dream .tabs .tab a {
  color: #000;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #888;
  -webkit-transition: color 0.28s ease, background-color 0.28s ease;
  transition: color 0.28s ease, background-color 0.28s ease;
  box-sizing: border-box;
  text-align: center;
}
.dream .tabs .tab a:focus,
.dream .tabs .tab a:focus.active {
  background-color: rgb(236 236 236 / 20%);
  outline: none;
}
.dream .tabs .tab a:hover,
.dream .tabs .tab a.active {
  background-color: transparent;
  color: #000000;
  font-weight: 400;
  border-bottom: 1px solid black;
}
.dream .tabs .tab.disabled a,
.dream .tabs .tab.disabled a:hover {
  color: #009bfa;
  cursor: default;
}
.dream .tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #000000;
  will-change: left, right;
}
.dream .wdtwo {
  display: table;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
}
.dream .wdtwo > div {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}
.dream .wdtwo > div > ul:first-child li {
  display: block;
  width: 100%;
}
.dream .wdtwo > .sttmtb.aa > ul:first-child span {
  font-size: 20px;
}
.dream .wdtwo > .sttmtb.aa > ul:first-child {
  padding: 6px 0;
  border-top: 0 none;
  border-bottom: 1px solid #f1f1f1;
  background-color: #fff;
}
.dream .wdtwo > .sttmtb.aa:last-child > ul:first-child {
  border-bottom: 1px solid #f1f1f1;
}
.dream .wdtwo > .sttmtb.aa:last-child > ul {
  background-color: #f8f8f8;
  border-color: #f1f1f1;
}
.dream .tooltip {
}
.dream .tooltip:hover,
.dream .tooltip:focus {
  z-index: 3;
}

.dream .sttmtb .tooltip,
.dream .tblst .tooltip {
  position: relative;
  left: 6px;
  right: 0;
  top: -2px;
  display: inline-block;
}
.dream .receive .tooltip i {
  border-color: #fff;
  color: #fff;
}
.dream .tooltip > div {
  display: none;
  line-height: 16px;
  word-break: break-all;
}
.dream .tooltip.on:hover {
  opacity: 1;
}
.dream .tooltip:hover div,
.dream .tooltip:focus div {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 2;
  display: block;
  max-width: 260px;
  width: 250px;
  height: auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #000;
  font-size: 12px;
  text-align: left;
}
.dream .sttmtb li:first-child:hover .tooltip div,
.dream .sttmtb li:first-child:focus .tooltip div,
.dream .tblst li > div:first-child:hover .tooltip div,
.dream .tblst li > div:first-child:focus .tooltip div {
  top: 20px;
  left: -20px;
  max-width: 160px;
}
.dream .sttmtb li:first-child:hover,
.dream .sttmtb li:first-child:focus,
.dream .tblst li > div:first-child:hover,
.dream .tblst li > div:first-child:focus {
  color: #ff0000;
}
.dream .tooltip.on div,
.dream .tooltip.on div {
  display: block;
  opacity: 1;
}
.dream .tooltip > div a {
  display: block;
  padding: 6px 20px 6px 10px;
  margin-top: 11px;
  color: #000000;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 5px;
}
.dream .etc .pointtxt {
  padding: 20px 15px 15px 40px;
}
.dream .pointtxt {
  padding-left: 25px;
  background: #fbfbfb url(../../images/dream/icon_tooltipb.png) no-repeat 15px
    21px;
}
.dream .pointtxt li {
  text-align: left;
  word-break: break-all;
  line-height: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}
input.secession {
  display: block;
  padding: 10px 0;
  margin: 40px 0 30px 0;
  width: 100%;
  color: #545454;
  border: 1px solid #e4e4e4;
  background-color: #f8f8f8;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}
.dream .copyright {
  margin-bottom: 50px;
  color: #000;
  font-size: 11px;
  text-align: center;
  font-weight: 200;
}
.dream .NextPrev,
.dream .DayHeaderStyle,
.dream .OtherMonthDayStyle,
.dream .TitleDate,
.dream .DayStyle,
.dream .SelectedDayStyle,
.dream .TodayDayStyle {
  text-align: center;
}
.dream .DayHeaderStyle {
  font-size: 14px !important;
  font-weight: 300 !important;
}
.dream .TitleDate td {
  font-size: 16px;
}
.dream .OtherMonthDayStyle a {
  color: rgba(255, 255, 255, 0.5) !important;
  font-weight: 200 !important;
}
.dream .TitleDate {
  font-size: 25px;
  background-color: none;
}
.dream tr,
.dream th,
.dream td {
  background-color: none;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Noto Sans KR", sans-serif, Dotum, Helvetica, AppleSDGothicNeo;
  background: transparent;
  text-align: center;
  font-size: 20px;
}
.dream .calendarbox {
  position: relative;
  padding: 0;
  padding-top: 10px;
  height: 316px;
  background: #23a7f8;
  background: -moz-linear-gradient(left, #23a7f8 0%, #6f7dff 100%);
  background: -webkit-linear-gradient(left, #23a7f8 0%, #6f7dff 100%);
  background: linear-gradient(to right, #23a7f8 0%, #6f7dff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23a7f8',endColorstr='#6f7dff',GradientType=1 );
}
.dream .calendarbox table,
.dream .calendarbox table td {
  background: transparent !important;
}
.dream .calendarbox > table {
  height: 300px !important;
  margin: 0 auto;
}
.dream .NextPrev a {
  display: block;
  width: 100%;
  height: 30px;
  position: relative;
  color: #fff !important;
  font-size: 0 !important;
  text-align: center;
}
.dream .TitleDate tr td.NextPrev:last-child a:after,
.dream .TitleDate tr td.NextPrev:first-child a:after {
  position: absolute;
  top: 0;
  display: block;
  color: #fff;
  width: 30px;
  height: 30px;
  font-size: 20px;
}
.dream .TitleDate tr td.NextPrev:last-child a:after {
  content: "\279C";
  right: 5px;
}
.dream .TitleDate tr td.NextPrev:first-child a:after {
  content: "\279C";
  left: 5px;
  transform: rotate(180deg);
}
.dream .calendarbox a {
  font-size: 16px;
  font-family: "sans-serif";
}
.dream .SelectedDayStyle a,
.dream .DayStyle a,
.dream .OtherMonthDayStyle a {
  position: relative;
  top: -3px;
}
.dream .calendarbox .SelectedDayStyle {
  background: #fff !important;
  border-radius: 5px;
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.dream .graphtip {
  position: absolute;
  top: -2px;
  left: 0;
  display: block;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  white-space: nowrap;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
  box-sizing: border-box;
  font-weight: 300;
}
.dream .legend-div ul {
  padding-top: 23px;
  font-size: 0;
}
.dream .legend-div ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 24px 5px 16px 5px;
  margin-top: -1px;
  color: #000;
  box-sizing: border-box;
  text-align: left;
  word-break: keep-all;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.025em;
}
.dream .legend-div span {
  position: absolute;
  top: 10px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
  font-size: 12px;
}
.dream .legend-div span:first-child {
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 20px;
}
.dream .legend-div span:last-child {
  top: 6px;
  left: 19px;
  font-weight: 200 !important;
  font-size: 14px;
}
.dream .chart-div {
  display: flex;
  margin: 20px 0;
  justify-content: center;
  overflow: hidden;
}
.dream .guidelist > li > div:first-child {
  position: relative;
  margin-top: -1px;
  padding: 0 27px;
  height: 50px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 15px;
  line-height: 49px;
  font-weight: 300;
  color: #999;
}
.dream .guidelist > li > div:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  display: block;
  width: 50px;
  height: 50px;
  background: url(../../images/dream/icon_arrowgb.png) no-repeat center center;
  background-size: 14px auto;
  transform: rotate(0deg);
  transition: all 0.1s;
}
.dream .guidelist > .active > div:first-child:before {
  transform: rotate(180deg);
  transition: all 0.1s;
}
.dream .guidelist > .active > div:first-child {
  font-weight: 500;
  color: #000;
  border-bottom: 1px solid #ccc;
}
.dream .guidelist > li > div:last-child {
  padding: 10px 27px 15px 27px;
  border-top: 1px solid #ececec;
  font-size: 14px;
  text-align: left;
  font-weight: 300;
  line-height: 22px;
  word-break: keep-all;
}
.dream .guidelist > .active > div:last-child span {
  font-size: 15px;
  font-weight: 300;
}
.dream .guidelist > li > div:last-child ul {
  background-color: #ececec;
  padding: 12px;
  margin-top: 10px;
}
.dream .guidelist > li > div:last-child li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.dream .guidelist > li > div:last-child li:before {
  content: "-";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 5px;
}
.dream .wrap.main .ltflex .list > div > div.dreambanner {
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 6px;
}
.dream .wrap.main .ltflex .dreambanner h4 {
  margin-bottom: 6px;
  text-align: left;
  font-size: 18px;
  word-break: keep-all;
  letter-spacing: -0.025em;
}
.dream .wrap.main .ltflex .dreambanner strong {
  font-size: 18px;
  color: #ff6060;
  font-weight: 400;
}
.dream .wrap.main .ltflex .dreambanner p {
  margin-top: 2px;
  text-align: left;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: -0.05em;
}
.dream .wrap.main .ltflex .dreambanner div {
  margin-top: 16px;
}
.dream .wrap.main .ltflex .dreambanner div p {
  margin-top: 8px;
}
.dream .wrap.main .ltflex .dreambanner a {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 6px 28px 6px 10px;
  letter-spacing: -0.025em;
  text-align: left;
  border: 1px solid #eee;
  border-radius: 5px;
  font-weight: 400;
}
.dream .wrap.main .ltflex .dreambanner a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 100%;
  width: 30px;
  background: url(../../images/dream/icon_arrowr.png) no-repeat center center;
  background-size: 12px auto;
}
.dream .dreambanner:before {
  content: "";
  position: absolute;
  bottom: -28px;
  right: 14px;
  width: 94px;
  height: 160px;
  z-index: 1;
  background: url(../../images/dream/banner_dream.png) no-repeat center top;
  background-size: 94px auto;
}
.dream .subtab {
  display: block;
  margin-bottom: 15px;
}
.dream .subtab ul,
.dream .subtab li {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.dream .subtab li {
  margin-left: -1px;
}
.dream .subtab a {
  display: block;
  padding: 0;
  width: 36px;
  height: 30px;
  border: 1px solid #e6e6e6;
  background-image: url(../../images/dream/icon_subtab.png);
  background-repeat: no-repeat;
  background-color: #fafafa;
  color: #ccc;
  font-size: 12px;
  line-height: 30px;
  text-indent: -9999px;
}
.dream .subtab li:first-child .on,
.dream .subtab li:last-child .on {
  position: relative;
  z-index: 1;
  color: #000;
  border-color: #444;
  border-radius: 4px;
}
.dream .subtab li:first-child .on {
  background-position: 8px 5px;
}
.dream .subtab li:last-child .on {
  background-position: 8px -31px;
}
.dream .subtab li:first-child a {
  border-radius: 4px 0 0 4px;
  background-position: 8px -67px;
}
.dream .subtab li:last-child a {
  border-radius: 0 4px 4px 0;
  background-position: 8px -103px;
}
.dream .loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.dream .loading span {
  border: 1px solid #f3f3f3;
  border-top: 1px solid #40a3ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-moz-document url-prefix() {
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
}
@media all and (max-width: 2000px) and (orientation: portrait) {
}
@media all and (max-width: 1024px) and (orientation: portrait) {
}
@media all and (max-width: 768px) and (orientation: portrait) {
}
@media all and (max-width: 640px) and (orientation: portrait) {
  .sttmtb li:first-child {
    width: 50%;
    padding-left: 10px;
  }
  .dream .sttmtb > div,
  .dream .sttmtb ul {
    display: block;
    width: 100%;
    font-size: 0;
  }
  .dream .sttmtb > div > div,
  .dream .sttmtb li {
    display: inline-block;
    width: 50%;
    font-size: 15px;
    box-sizing: border-box;
  }
  .dream .sttmtb > div > div {
    width: 100%;
  }
  .dream .sttmtb > div > div:first-child li:last-child {
    width: 50%;
    padding: 10px 10px 10px 0;
  }
  .dream .sttmtb li:last-child {
    padding-right: 10px;
  }
}
@media all and (max-width: 533px) and (orientation: portrait) {
}
@media all and (max-width: 480px) and (orientation: portrait) {
}
@media all and (max-width: 414px) and (orientation: portrait) {
}
@media all and (max-width: 375px) and (orientation: portrait) {
}
@media all and (max-width: 360px) and (orientation: portrait) {
  .calendarbox table {
    margin: 0 auto;
    width: 100% !important;
  }
}
@media all and (max-width: 319px) and (orientation: portrait) {
}
@media all and (max-width: 280px) and (orientation: portrait) {
}
@-moz-document url-prefix() and (orientation:landscape) {
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (orientation: landscape) {
}
@media all and (max-width: 3000px) and (orientation: landscape) {
}
@media all and (max-width: 901px) and (max-width: 1024px) and (orientation: landscape) {
}
@media all and (max-width: 732px) and (max-width: 900px) and (orientation: landscape) {
}
@media all and (max-width: 641px) and (max-width: 731px) and (orientation: landscape) {
}
@media all and (max-width: 640px) and (orientation: landscape) {
}

.pa-10 {
  padding: 10px;
}
