@charset "utf-8";
.syspopup,
.opbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.opbg {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.syspopup {
  display: table;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.syspopup.mainpopup,
.syspopup.guide {
  z-index: 9999;
}
.syspopup.zdt {
  z-index: 100;
}
.syspopup > div:first-child {
  position: relative;
  z-index: 2;
  display: table-cell;
  padding: 0 20px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  box-sizing: border-box;
}
.sysct {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.alert .sysct {
  color: #000;
}
.alert .sysct > div {
  padding: 10px 0 20px 0;
}
.alert .sysct > div,
.alert .sysct p {
  text-align: center;
  font-size: 17px;
}
.sysct .txt {
  padding: 30px 0;
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
}
.sysct .txt p {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}
.sysct h4 {
  padding: 0 0 20px 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.cardinfo li {
  display: table;
  width: 100%;
}
.cardinfo li > * {
  display: table-cell;
  vertical-align: middle;
}
.cardinfo li strong {
  width: 100px;
  font-size: 15px;
  font-weight: 400;
}
.cardinfo li input {
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d9dadc;
  height: 40px;
  font-size: 15px;
  margin-bottom: 10px;
}
.info_consent {
  margin: 20px 0 30px 0;
}
.sysct h4:before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background: #009bfa url(../../images/dream/icon_charge.png) no-repeat center
    center;
  background-size: 18px auto;
  vertical-align: middle;
  border-radius: 40px;
}
.cardadd h4:before {
  background-image: url(../../images/dream/icon_card.png);
}
.bank .sysct h4:before {
  background-image: url(../../images/dream/icon_bank.png);
  background-size: 10px auto;
}
.sysbtn li.ok {
  padding: 0;
}
.info_consent li {
  position: relative;
  margin-top: 8px;
}
.info_consent .all label {
  color: #2a2a2a;
}
.info_consent input {
  position: absolute;
  z-index: 1;
  left: -80px;
  width: 100%;
  margin-right: 60px;
  height: 24px;
  opacity: 0;
}
.info_consent label {
  background-repeat: no-repeat;
  background-position: 0 1px;
  background-size: auto 26px;
  color: #656565;
  letter-spacing: -0.05em;
}
.info_consent input[type="radio"]:not(old):checked + label,
.info_consent input[type="checkbox"]:checked + label {
  background-image: url(../../images/dream/icon_check_on.png);
}
.info_consent label {
  display: inline-block;
  padding-left: 30px;
  background-image: url(../../images/dream/icon_check_off.png);
  color: #949494;
  vertical-align: top;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
}
.info_consent a {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding-right: 20px;
  background: url(../../images/dream/icon_arrowgr.png) no-repeat right center;
  background-size: 16px auto;
  color: #9c9c9c;
  font-size: 13px;
  line-height: 22px;
}
.deliveryfree fieldset div {
  padding-bottom: 26px;
  color: #000;
  text-align: center;
  font-size: 34px;
  font-weight: 300;
}
.deliveryfree div span {
  font-weight: 500;
  font-size: 34px;
}
.syspopup.open {
  visibility: visible;
  left: 0;
  transition: all 0.4s cubic-bezier(0, 0, 0.07, 0.99);
  opacity: 1;
}
.syspopup.close {
  visibility: hidden;
  left: -100%;
  transition: all 0.4s cubic-bezier(0, 0, 0.07, 0.99);
}
.syspopup.page {
  height: calc(100vh - 62px);
}
.syspopup.page:before,
.syspopup.mainpopup:before,
.syspopup.guide:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.syspopup.mainpopup a {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 4px 16px 4px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}
.syspopup.mainpopup a i {
  margin: 1px 0 0 0;
  font-size: 24px;
  vertical-align: top;
}
.popupboxlst {
  position: absolute;
  top: 180px;
  width: 100%;
  padding: 30px;
  display: inline-block;
}
.popupboxlst > div {
  position: relative;
  border-radius: 6px;
  background-color: #fff !important;
}
.popupboxlst > div > h3 {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #23a7f8;
}
.syspopup.guide > span {
  position: absolute;
}
.syspopup.guide span span {
  display: inline-block;
  position: relative;
  color: #fff;
}
.syspopup.guide > span i {
  position: absolute;
}
.syspopup.guide .tipa {
  top: 62px;
  right: 10px;
}
.syspopup.guide .tipa span {
  padding-top: 20px;
  height: 30px;
}
.syspopup.guide .tipa i {
  top: -7px;
  left: 22px;
  transform: rotate(-45deg);
}
.syspopup.guide .tipc {
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -15px;
  text-align: center;
}
.syspopup.guide .tipc i {
  position: relative;
  vertical-align: top;
  font-size: 21px;
}
.syspopup.guide .tipc span {
  font-weight: 300;
  font-size: 14px;
}
.syspopup.guide a {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 4px 16px 4px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}
.syspopup.guide a i {
  margin: 1px 0 0 0;
  font-size: 24px;
  vertical-align: top;
}
.syspopup.page.open:before {
  opacity: 1;
  transition: opacity 0.4s;
}
.syspopup.page.close:before {
  opacity: 0;
  transition: 0.4s;
}
.syspopup.page h3 a {
  width: auto;
  padding-left: 25px;
  background-position: 0 51px;
  background-size: 23px auto;
}
.syspopup.qna h3 {
  margin: 0px 24px;
  padding-top: 90px;
  height: 138px;
  background: url(../../images/dream/icon_bike.png) no-repeat right bottom;
  background-size: 76px auto;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
}
.syspopup.qna a {
  position: absolute;
  top: 48px;
  left: 20px;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 0;
  background: url(../../images/dream/icon_arrowl_w.png) no-repeat left center;
  background-size: 24px auto;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.syspopup.qna input[type="text"] {
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
  font-size: 15px;
}
.syspopup.page.qna .title > div:last-child {
  padding: 14px 20px;
  margin: 0;
  background-color: #fff;
}
.syspopup.page.qna select {
  border: 1px solid #d9dadc;
  color: #777;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  background-color: #fff;
}
.syspopup.page > div:first-child {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 90px;
  background-color: #f5f5f5;
}
.syspopup.page.open > div:first-child {
  left: 0;
  transition: all 0.4s cubic-bezier(0, 0, 0.07, 0.99);
}
.syspopup.page.close > div:first-child {
  left: -100%;
  transition: all 0.4s cubic-bezier(0, 0, 0.07, 0.99);
}
.syspopup.page div.white {
  background-color: #fff;
}
.syspopup.page.qna .title {
  padding: 0;
  height: 260px;
  background: #23a7f8;
  background: -moz-linear-gradient(left, #23a7f8 0%, #6f7dff 100%);
  background: -webkit-linear-gradient(left, #23a7f8 0%, #6f7dff 100%);
  background: linear-gradient(to right, #23a7f8 0%, #6f7dff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23a7f8',endColorstr='#6f7dff',GradientType=1 );
}
.syspopup.page.qna .title > div {
  margin: 0 20px 15px 20px;
}
.syspopup.page iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #f5f5f5;
}
.syspopup.page .alldata,
.syspopup.page .alldata span {
  font-size: 16px;
  color: #000;
  font-weight: 300;
  letter-spacing: -0.025em;
}
.syspopup.page .alldata span {
  font-weight: 500;
}
.syspopup.page .alldata {
  position: absolute;
  top: 48px;
  right: 30px;
}
.syspopup.qna .qnalist {
  position: absolute;
  top: 0;
  left: 0;
  padding: 260px 0 0 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}
.syspopup.qna .qnalist > div {
  height: 100%;
  overflow-y: auto;
  background-color: #eee;
}
.qnalist > div > div {
  background-color: #fff;
  font-size: 16px;
  max-height: 40vh;
  overflow-y: auto;
}
.qnalist.set > div > div {
  max-height: 100vh;
}
.qnaacd .collapsible li {
  border-bottom: 1px solid #f5f5f5;
}
.qnaacd .collapsible .active {
  border-color: #e8e8e8;
}
.qnalist .qnaacd li > .collapsible-header {
  position: relative;
}
.qnalist .qnaacd li > .collapsible-header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 25px;
  width: 25px;
  height: 100%;
  background: url(../../images/dream/icon_arrowgb.png) no-repeat center center;
  background-size: 14px auto;
  transition: all 0.2s;
}
.policy .qnalist .qnaacd li > .collapsible-header:after {
  display: none;
}
.qnalist .qnaacd .active .collapsible-header:after {
  transform: rotate(180deg);
  transition: all 0.2s;
}
.policy .qnaacd .collapsible li:last-child {
  border-bottom: 0 none;
}
.policy .qnaacd div,
.qnaacd div p {
  font-size: 15px;
  line-height: 22px;
}
.policy .qnaacd li:first-child .collapsible-header {
  padding-top: 10px;
}
.policy .qnalist li:first-child .collapsible-header {
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  line-height: 16px;
}
.policy .qnalist li:first-child .collapsible-header > div:nth-child(2) b {
  font-size: 12px;
}
.policy .qnalist .collapsible {
  border: 1px solid #d8d8d8;
  margin-bottom: 10px;
  padding: 10px;
}
.policy .qnalist li:first-child span.collapsible-header {
  margin-top: 10px;
  border-top: 1px solid #eee;
  display: block;
  height: 29px;
  overflow: hidden;
  padding-bottom: 16px;
  box-sizing: border-box;
  padding-right: 40px;
  color: #000;
  line-height: 16px;
  background-image: url(../../images/dream/icon_arrowgb.png);
  background-repeat: no-repeat;
  background-position: right 12px;
  text-align: left;
  background-size: 18px auto;
}
.policy .qnalist b {
  font-size: 16px;
  font-weight: 300;
}
.policy .qnalist li.active:first-child span.collapsible-header {
  height: auto;
  background-image: url(../../images/dream/icon_arrowgt.png);
}
.qnaacd li > .collapsible-header {
  border-top: 1px solid transparent;
  padding: 30px 10px;
  color: #888;
  font-weight: 300;
  outline: none;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
}
.qnaacd .active .collapsible-header {
  color: #000000;
  font-weight: 400;
}
.qnaacd .collapsible-body {
  border-top: 1px solid #f1f1f1;
  background-color: #f9f9f9;
  color: #7c8298;
  word-break: break-all;
  text-align: left;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.04);
}
.policy .qnalist .collapsible-body {
  max-height: 100px;
  overflow-y: auto;
  line-height: 20px;
}
.policy .qnalist .collapsible-body * {
  line-height: 14px;
}
.qnaacd .collapsible-body * {
  word-break: break-all;
  text-align: left;
  font-weight: 300;
}
.bank .autoline label,
.cardadd .autoline label {
  bottom: 0;
}
.bank .cardinfo li,
.cardadd .cardinfo li {
  margin-bottom: 10px;
}
.bank .cardinfo select,
.bank .cardinfo li input,
.cardadd .cardinfo li input {
  height: 40px;
  margin-bottom: 0;
}
.bank .cardinfo select {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d9dadc;
  color: #000;
  font-size: 15px;
}
.bank .cardinfo option {
  color: #000;
}
.bank .cardinfo li strong {
  width: 40px;
}
.scs .sysct > div:first-child {
  padding: 0 20px;
}
.scs h5,
.scs p {
  font-size: 17px;
  color: #000;
  text-align: center;
  font-weight: 400;
}
.scs h5 {
  padding: 20px 0 10px 0;
}
.scs p {
  color: #7c8298;
  font-size: 15px;
}
.servicecheck {
  padding: 20px 20px 30px 20px;
}
@-moz-document url-prefix() {
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
}
@media all and (max-width: 2000px) {
  .sysct {
    width: 50%;
  }
}
@media all and (max-width: 1024px) {
  .sysct {
    width: 50%;
  }
}
@media all and (max-width: 768px) {
  .sysct {
    width: 100%;
  }
}
@media all and (max-width: 640px) {
}
@media all and (max-width: 533px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 414px) {
}
@media all and (max-width: 375px) {
}
@media all and (max-width: 360px) {
}
@media all and (max-width: 319px) {
}
