@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0; font-family:'Noto Sans KR', sans-serif,Dotum,Helvetica,AppleSDGothicNeo; -webkit-margin:0}
select{margin:0;font-size:13px;height:23px}
ol,ul,li{line-height:13px;list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
img{border:0 none}
a,input,li,span{outline-style:none;text-decoration:none;color:#000;font-weight:normal;font-family:'Noto Sans KR', sans-serif}
a{}
a:hover{opacity:1}
/* IOS Moz input Style reset */
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
.file_box input{
    -webkit-appearance:none;
    -moz-appearance:none;
    -webkit-border-radius:0;
    appearance:none
}
select{
    -webkit-border-radius:0;   
}
/* Safari 6.1+ (9.0 is the latest version of Safari at this time) */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0){
    @media{
        .safari_only {
            input{-webkit-appearance:none;-moz-appearance:none;appearance:none}
        }
    }
}
/* Safari 9.0+ */
_::-webkit-:not(:root:root),
.safari_only{
    input{-webkit-appearance:none;-moz-appearance:none;appearance:none}
}