@charset "utf-8";
body {
  background-color: #f5f5f5;
}
.sub.complate {
  display: table;
  height: 100%;
  width: 100%;
}
h5 {
  position: relative;
  padding-top: 90px;
  width: 100%;
  height: 26px;
  background: url(../../images/logo_sub.png) no-repeat center 0;
  background-size: 184px auto;
  color: #00bfa5;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
h5:after {
  content: "";
  position: absolute;
  bottom: 46px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 1px;
  background-color: #e1e1e1;
}
.container .title {
  box-shadow: none;
}
.complate .itembox {
  padding: 0;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  background: none;
  border-radius: inherit;
}
.complate .itembox > div {
  padding: 30px 17px;
  background-color: #fff;
  border-radius: 4px;
}
.complate .itembox > div:first-child {
  padding-top: 30px;
}
.complate .itembox p {
  padding-top: 10px;
  font-size: 13px;
  text-align: center;
}
.complate .itembox .idnumber {
  padding: 24px 0 34px;
  text-align: center;
}
.complate .idnumber span {
  color: #575757;
  font-size: 23px;
}
.complate .btn {
  padding: 0 30px;
}
